spring:
  config:
    activate:
      on-profile: dev
  jackson:
    serialization:
      write-dates-as-timestamps: false
  jpa:
    properties:
      hibernate:
        jdbc:
          driver-class-name: org.mariadb.jdbc.Driver
          driver: org.mariadb.jdbc.Driver
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
db:
  datasource:
    tigasatutiga:
      jdbc-url: jdbc:mariadb://185.128.227.37:3306/tigasatu_tuitionez_local?useUnicode=true&characterEncoding=utf8
      username: tigasatu_tiga
      password: 313Database!
      driver-class-name: org.mariadb.jdbc.Driver
      max-lifetime: 60000
      validation-timeout: 5000
      pool-name: TigasatutigaHikariCP
keycloak:
  url: https://auth.tigasatutiga.com
  realm: tuition-ez
  active-client: tuition-ez
  admin:
    client-id: admin-api-client
    client-secret: dROLHEz8M7SeeNpIk6551CdnbqgrhO4x
google:
  project-id: tigasatutiga-439419
  region: asia-southeast1
  key: classpath:tigasatutiga-439419-8f706d892fc7.json
  scheduler:
    id: tuitionez_blast_invoice
microservices:
  filer:
    url: http://localhost:3000
    batch-api: /generate/batch-invoice