server:
  port: 8080

spring:
  profiles:
    active: prod
  data:
    rest:
      detection-strategy: annotated
  jpa:
    database: mysql
    open-in-view: true
    generate-ddl: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        globally_quoted_identifiers: true
  jackson:
    deserialization:
      ACCEPT_EMPTY_STRING_AS_NULL_OBJECT: true
      FAIL_ON_UNKNOWN_PROPERTIES: true
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB